@import '../../../models/variables';

.winner-table {
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1px;
}

.winner-table__header,
.winner-table__raw {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.winner-table__cell {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;

  &.cell-wins,
  &.cell-best-time {
    background-color: $cell-in-table-sort;
    cursor: pointer;
    transition: opacity .3s ease-in-out;

    &:hover {
      opacity: 0.7;
    }
  }


  @media (max-width: 750px) {
    font-size: 1.5rem;
  }
}