.page-btns {
  display: flex;
  position: absolute;
  top: 5%;
  right: 5%;
  padding-top: 1rem;
  justify-content: center;
  gap: 3rem;
}

.page-btns__previous-btn {
  user-select:  none;

  &.disabled {
    pointer-events: none;
    user-select: none;
    opacity: 0.5;
  }
}

.page-btns__next-btn {
  user-select:  none;

  &.disabled {
    pointer-events: none;
    user-select: none;
    opacity: 0.5;
  }
}